<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- preloading all images -->
    <link rel="preload" as="image" href="/images/sunOff.png">
    <link rel="preload" as="image" href="/images/powerOff.png">
    <link rel="preload" as="image" href="/images/sunOn.png">
    <link rel="preload" as="image" href="/images/powerOn.png">
    <link rel="preload" as="image" href="/images/home.png">
    <link rel="preload" as="image" href="/images/homeOff.png">
    <!-- css -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="sunGrid">
      <div class="sun sunOn"></div>
      <div class="home1"></div>
      <div class="home2 homeOn"></div>
      <div class="home3"></div>
    </div>
    <div class="menu">      
      <div class="power powerOn"></div>
      <button class="btnLeft">&leftarrow;</button><button>&rightarrow;</button></div>
    </div>  

    <!-- js -->
    <script src="/javascripts/main.js"></script>
  </body>
</html>
