<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="sunGrid">
      <div class="sun sunOn"></div>
      <div class="home1"></div>
      <div class="home2 homeOn"></div>
      <div class="home3"></div>
    </div>
    <div class="menu">      
      <div class="power powerOn"></div>
      <button class="btnLeft">&leftarrow;</button><button>&rightarrow;</button></div>
    </div>  

    <script src="/javascripts/main.js"></script>
  </body>
</html>
