<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- preloading all images -->
    <link rel="preload" as="image" href="/images/sunOff.png">
    <link rel="preload" as="image" href="/images/powerOff.png">
    <link rel="preload" as="image" href="/images/sun.png">
    <link rel="preload" as="image" href="/images/powerOn.png">
    <link rel="preload" as="image" href="/images/home.png">
    <link rel="preload" as="image" href="/images/homeOff.png">
    <!-- css normalize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- js axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.5/axios.min.js" integrity="sha512-TjBzDQIDnc6pWyeM1bhMnDxtWH0QpOXMcVooglXrali/Tj7W569/wd4E8EDjk1CwOAOPSJon1VfcEt1BI4xIrA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  </head>
  <body>
    <div class="sunGrid">
      <div class="moon moonOn"></div>
      <div class="sun sunOn"></div>
      <div class="home1 homeMoon"></div>
      <div class="home2 "></div>
      <div class="home3"></div>
    </div>
    <div class="menu">
      <div class="menu2el">Sun:</div>      
      <div class="power menu2el powerOn"></div>
      <button class="btnLeft">&leftarrow;</button><button class="btnRight">&rightarrow;</button>
      <div class="menu2el">Moon:</div>
      <div class="swMoon menu2el swMoonOn"></div>
      <button class="btnLeftMoon">&leftarrow;</button><button class="btnRightMoon">&rightarrow;</button>  
      
    </div>  

    <!-- js -->
    <script src="/javascripts/main.js"></script>
  </body>
</html>
